{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="resources">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

            <div>
                <h2>Beginners</h2>
            </div>

            <div>
                <h2>Teaching</h2>
            </div>

            <div>
                <h2>Archaeology</h2>
            </div>

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="resources-group">
                    
                    <ul class="resources-list">
                        {{ range .Pages }}
                            <li class="resource-item">
                                <a href="{{.Permalink}}">
                                    <span class="resource-title">{{.Title}}</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
