
// Use Source Code Pro font for Rchaeology theme

// Hello Friends NG theme fonts

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}

// rchaeology

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
}
@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap"),
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");
}
@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap");
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");
}
@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,700&display=swap");
}
